*{
    box-sizing: border-box;
    color: #5b5b5e;
    font-family: 'Dosis', sans-serif;
}




/*   Container Style */
.container{
    display: grid;
    grid-gap: 5px;
 
    
}

/*   menu bar Style */
.menu-bar{
    background-color: #b6d2f1;
    padding: 5px;
    display:flex;
    flex-direction: row;  
}


.menu-toggle{
    margin: 8px;
    border-style: none;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    background-image: url("img/menu.png");
    background-color: transparent;
    display:none;
}

.menu-item{
    margin: 2px 1px;
    padding:5px 20px;
    text-align: center;
    text-decoration:none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    /* background-color:#9ec4f3; */
}

.menu-item:hover{
    background-color:#6dacf8;
}


/*   Side bar Style */
.sidebar{
    width: 100px;
    background-color: #E6EEF7;
    padding: 5px;
    display:flex;
    flex-direction: column;
    
}


.nav-item{
    margin: 8px;
    padding: 5px;
    text-align: center;
    text-decoration:none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    background-color:#e3e7ec;
}

.nav-item:hover{
    background-color:#b9bcc0;
}


/*  Main styles  */
.main{
    display:grid;
    background-color: #E6EEF7;
    grid-gap: 15px;
    grid-template-columns: auto auto auto auto; 
    padding:10px;
}

.item{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: #FFFFFF;
box-shadow: 2px 2px 2px rgb(233, 231, 231), -2px -2px 1px  rgb(233, 231, 231);
border: 1 solid black;
padding:10px;
}

.item > a{
    text-decoration:none;
    padding:5px 15px;
    font-size:16px;
    font: weight 700px;
     
    
}

.item > a:hover{
    background-color:#4F9CFC;
    color: #FFFFFF;
    text-decoration:none;
    border-radius:20px
}

.item > img {
    width: 40px;
    height: 40px;
}
  


@media only screen and (max-width: 768px){
    .container{
        grid-template-columns: auto;
        grid-row: auto auto;
    }

    .main{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .menu-bar{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .sidebar{
       display:none;
    }

    .menu-toggle{
        display:inline;
    }
    
    .menu-item{
        display:none;
    }

}

@media only screen and (min-width: 769px){
    .container{
        grid-template-columns: auto auto;
        grid-row: auto auto;
    }

    .menu-bar{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .main{
        grid-row: 2/3;
        grid-column: 2/3;
    }

    .sidebar{
        grid-row: 2/3;
        grid-column: 1/2;
    }
}