*{
    box-sizing: border-box;
    color: #1f1f20;
    font-family: 'Dosis', sans-serif;
}


/*   Container Style */
.container{
    display: grid; 
    grid-template-columns: auto auto;
    grid-row: auto auto;
    grid-gap: 5px;  
}
 




 

/*   menu  Style */
.menu{
    background-color: #b6d2f1;
    padding: 5px;
    display:flex;
    flex-direction: row;  
}


/*   hamberger button in a menu */
.menu-toggle{
    margin: 8px;
    border-style: none;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    background-image: url("./img/menu.png");
    background-color: transparent;
    display:none;
}


/*   items in a menu */
.menu-item{
    margin: 2px 1px;
    padding:5px 20px;
    text-align: center;
    text-decoration:none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
   
}


/*  on hover of menu item the color of the hovered item changed */

.menu-item:hover{
    background-color:#6dacf8;
}


/*   Sidebar Style */
.sidebar{
    width: 100px;
    background-color: #E6EEF7;
    padding: 5px;
    display:flex;
    flex-direction: column;
}

/*   Sidebar items */
.sidebar-item{
    margin: 8px;
    padding: 5px;
    text-align: center;
    text-decoration:none;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
    background-color:#e3e7ec;
}

/*   Sidebar item change their color when hovered */
.sidebar-item:hover{
    background-color:#b9bcc0;
}


/*  Main contains the cards   */
.main{
    display:grid;
    background-color: #E6EEF7;
    grid-gap: 15px;
    grid-template-columns: auto auto auto auto; 
    padding:10px;
}

/*   card style */
 
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px rgb(233, 231, 231), -2px -2px 1px  rgb(233, 231, 231);
    border: 1 solid black;
    padding:10px;
}

/*   anchor element in the card */
.card  a{
    text-decoration:none;
    padding:5px 15px;
    font-size:16px;
    font: weight 700px;
}

.card  div{
    padding: 10px 0px 5px 0px;
    border-top: 1px solid #ccc;
}
 

/*   when the anchor hovered its style get changed */
.card div:hover{
    background-color:#4F9CFC;
    color: #FFFFFF;
    text-decoration:none;
    box-shadow: 3px 3px 3px rgb(151, 146, 146);
    border-radius:20px
}

 
/*   Image Style, It contains image element inside the card */
.card img {
    width: 40px;
    height: 40px;
}
  



/* Media queries should be down here inorder to deter overriding display property*/


@media only screen and (max-width: 768px){
    .main{
        grid-column: 1/3;
        grid-row: 2/3;  
    }

    .menu{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .sidebar{
       display:none;
    }

    .menu-toggle{
        display:inline;
    }
    
    .menu-item{
        display:none;
    }
}


@media only screen and (min-width: 769px){
    .menu{
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .main{
        grid-column: 2/3;
        grid-row: 2/3;
       
    }

    .sidebar{
        grid-column: 1/2;
        grid-row: 2/3;
    }
}
